@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

html {
  font-family: 'Henny Penny', cursive;
}

body {
  background-color: azure;
}

img {
  width: 200px;
  margin-bottom: 20px;
}

/* h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
} */

.text-center {
  text-align: center;
}

button {
  background-color: blue;
  border: 0;
  padding: 8px 6px;
  border: 4px orange solid;
  margin: 12px 10px 8px 16px;
}

#wonderful-pet {
  color: white;
}

#save {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

/* na początku to */
/* #save span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  padding-right: 20px;
}

#save span::after {
  content: '\00bb';
  position: absolute;
  top: 0;
  right: 0;
} */

#save span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  padding-right: 20px;
}

#save span::after {
  content: '\00bb';
  position: absolute;
  top: 0;
  right: 0;
  right: -20px;
  transition: 0.5s;
}

#save:hover span {
  padding-right: 25px;
}

#save:hover span:after {
  opacity: 1;
  right: 0;
}

.trait-label {
  margin-top: 8px;
}

.traits {
  margin-top: 8px;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

